<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/card.css" />
    <title>MyVet</title>
  </head>
  <body>
    <img src="img/top-circle.svg" alt="top circle" class="bg-image bg-image--top" />
    <img
      src="assets/img/bottom-circle.svg"
      alt="bottom circle"
      class="bg-image bg-image--bottom"
    />
    <article class="card">
      <header class="card__header">
        <img src="img/card-pattern.svg" alt="pattern card" class="card__header-image" />
        <img src="img/colita.jpeg" alt="profile image" class="card__header-profile" />
      </header>
      <section class="card__body">
        <p class="card__text">
          Colitas Villarroel
        
        </p>
        <p class="card__text card__text--light">Bull dog Francés</p>
      </section>
      <footer class="card__footer">
        <div class="card__stats">
          <p class="card__number">Yesica Villarroel</p>
          <p class="card__text card__text--light">Propietario</p>
        </div>
        <div class="card__stats">
          <p class="card__number">Macho</p>
          <p class="card__text card__text--light">Sexo</p>
        </div>
        <div class="card__stats">
          <p class="card__number">18-11-2021</p>
          <p class="card__text card__text--light">Nacimiento</p>
        </div>
      </footer>
    </article>
  </body>
</html>
